
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

li {
    display: inline;
    margin: 10px;
    line-height: 2;
    cursor: pointer;
    transition: ease-in-out .3s;
}

ul {
    margin: 0;
}

a {
    font-size: 12px;
    text-decoration: none;
}

li:hover {
    text-decoration: underline #F14D34 3px;
}

@media screen and (max-width: 760px) {
    .wrapper {
        display: none;
    }
}